__pycache__/
blogs/rag/api/deps/
blogs/rag/api/function.zip
function.zip
env/
.ipynb_checkpoints/
1.py
RAG_AWS_OPEN_SEARCH_XIN_HUANG_0419.ipynb
rag.yaml
rag2.yaml
blogs/rag/container/
blogs/rag/docs/
blogs/rag/faiss_index/
blogs/rag/sagemaker.readthedocs.io/
blogs/rag/scripts/
